Connected Services/ServicioContadorPalabras/ServicioContador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ContadorDePalabras">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="palabra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContadorDePalabrasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContadorDePalabrasResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ContadorDePalabrasSoapIn">
    <wsdl:part name="parameters" element="tns:ContadorDePalabras" />
  </wsdl:message>
  <wsdl:message name="ContadorDePalabrasSoapOut">
    <wsdl:part name="parameters" element="tns:ContadorDePalabrasResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioContadorSoap">
    <wsdl:operation name="ContadorDePalabras">
      <wsdl:input message="tns:ContadorDePalabrasSoapIn" />
      <wsdl:output message="tns:ContadorDePalabrasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioContadorSoap" type="tns:ServicioContadorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ContadorDePalabras">
      <soap:operation soapAction="http://tempuri.org/ContadorDePalabras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioContadorSoap12" type="tns:ServicioContadorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ContadorDePalabras">
      <soap12:operation soapAction="http://tempuri.org/ContadorDePalabras" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioContador">
    <wsdl:port name="ServicioContadorSoap" binding="tns:ServicioContadorSoap">
      <soap:address location="http://localhost:63197/ServicioContador.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioContadorSoap12" binding="tns:ServicioContadorSoap12">
      <soap12:address location="http://localhost:63197/ServicioContador.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>